.cards-list {
  z-index: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(64px, 100%/4)), 1fr));
  gap: 3;
  justify-content: space-between;
  align-items: center;
}

.profileCard {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  margin-left: 0px;
  margin-right: 40px;
  overflow: hidden;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.dashboard__wrapper {
  display: flex;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  margin-right: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lottie_card {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  width: inherit;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: var(--heading-color);
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .card {
    margin-left: 0px;
    margin-right: 0px;
  }

  .cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
.dashboard__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.profileCard {
  width: 100%;
  border-radius: 20px;
  margin-left: 0px;
  overflow: hidden;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  height: 363px;
  margin-bottom: 30px;
}

.card {
  width: 130px;
  height: 130px;
  border-radius: 40px;
  margin-right: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

}